<!DOCTYPE html>
<html class=" -webkit-">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="noindex">
<title>Contents</title>

<meta http-equiv="imagetoolbar" content="no">
<meta name="description" content=" &lt;div style=&quot;text-align: center; margin-top: 30px;&quot;&gt;&lt;a href=&quot;/portfolio.html&quot; style=&quot;text-decoration:none; color: #555555;&quot;&gt;ENTER&lt;/a&gt;&lt;/div&gt;"><!-- 요기부터 ~ -->
<link rel="stylesheet" href="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/css/ie8.css" /><![endif]-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--요까지 ~ -->

<link href="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/pace/centercircle.css" rel="stylesheet" />
<link href="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>


	<!-- Transitions
	// fade, slide, flash, pulse, fadeslide
	-->
  <script>
	setting_maxScaleRatio = 1.0;
	setting_closeOnClick = true;
	setting_transition = "fade";
	setting_delay = 1500;
	setting_imageCrop = true;
	</script>

	<!-- <script src="./DESIGN __ KAILUA_files/jquery-2.1.4.min.js"></script> -->

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/js/isotope.pkgd.min.js"></script>
    <script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/js/packery-mode.pkgd.min.js"></script>
    <script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/js/jquery.infinitescroll.min.js"></script>
    <script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/js/imagesloaded.pkgd.min.js"></script>
    <script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/js/jquery.mobile.custom.min.js"></script>

 <style>
	 .embed-container {
	 	position: relative;
	 	padding-bottom: 56.25%;
	 	height: 0;
	 	overflow: hidden;
	 	max-width: 100%;
	 	}
	 .embed-container iframe,
	 .embed-container object,
	 .embed-container embed {
	 	position: absolute;top: 0;
	 	left: 0;
	 	width: 100%;
	 	height: 100%;
	 	}
 </style>
        <script language="JavaScript" type="text/JavaScript">
		function clicker(theClickURL){
			var thediv=document.getElementById('displaybox');
			if(thediv.style.display == "none"){
				thediv.style.display = "";
				thediv.innerHTML = "<table width='100%' height='100%'><tr><td align='center' valign='middle' width='100%' height='100%'><table  style='max-width:900px;width: 100%;padding: 0 20px 0;' cellpadding='0'><tr><td><font face='verdana,lucida grande,arial,helvetica' size='-1'><div align='justify'><table border='0' style='max-width:900px;width: 100%;' cellspacing='0' cellpadding='1' align='center'>	<tr><td align='right'><a href='#' onclick='return clicker();'><img src='https://storage.googleapis.com/jobshopper-test1.appspot.com/public/artmscly/closebox2.png' width='28' height='28' border='0'></a></td>	</tr><tr><td align='center'><div class='embed-container'><iframe src=\"https://storage.googleapis.com/jobshopper-test1.appspot.com/public/" + theClickURL +"\" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>";
				return false;
			} else {
				thediv.style.display = "none";
				thediv.innerHTML = '';
			}
			return false;
		}
		</script>


<!-- end JS packery etc -->



	<script language="JavaScript">
	<!--
	function NewWindow(mypage, myname, w, h, scroll) {
	var winl = (screen.width - w) / 2;
	var wint = (screen.height - h) / 3;
	winprops = 'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',notresizable'
	win = window.open(mypage, myname, winprops)
	if (parseInt(navigator.appVersion) >= 4) { win.window.focus(); }
	}
	//-->
	</script>

	<script language="JavaScript">
	<!--
	function NewWindowEmail(mypage, myname, w, h, scroll) {
	var winl = (screen.width - w) / 2;
	var wint = (screen.height - h) / 3;
	winprops = 'height='+h+',width='+w+',top='+wint+',left='+winl+',scrollbars='+scroll+',notresizable'
	win = window.open(mypage, myname, winprops)
	if (parseInt(navigator.appVersion) >= 4) { win.window.focus(); }
	}
	//-->
</script>


<script language="JavaScript">
<!--//

//-->
</script>


	<script type="text/javascript" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/chromejs/chrome.js">
	/***********************************************
	* Chrome CSS Drop Down Menu-  Dynamic Drive DHTML code library (www.dynamicdrive.com)
	* This notice MUST stay intact for legal use
	* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
	***********************************************/
	</script>
    <link href="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/styles.css" rel="stylesheet" type="text/css">

	<style type="text/css" rel="stylesheet">
<!--
html, body {
	height: 100%;
	background-color:#ffffff;
}
body,td,th {
	font-family: Viga;



	font-size: 14px;

	font-weight: normal;
}
html img, html a {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.imageContainer {
	text-align: center;
	width: 80%;
	margin:0 auto;;
}
.grid {
  margin: 0 auto;
  width:100%; text-align: center; padding-bottom: 50px; max-width: 2700px;
}
.grid-sizer, .grid-item { width: 16%;width: calc(100% / 6); padding:0; margin: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    background-color: #000
    border: none;
    margin: 0;
}
.grid-sizer img, .grid-item img {
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
 	display: block;
 	width: 100%;
 	height: 100%;
 	padding:0;
 	margin:0;
 	opacity: 1.0;
 }

.grid-item:hover img, .grid-item:active img {
	opacity: 0.6;
}
.grid-itemOverlay {
	display: none;
}

.gutter-sizer { width: 0%; padding:0; margin:0}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
#wrapperrr {
	padding:80px 0px 60px 0px;
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	background-color: #ffffff;
	overflow: none;
}
.wrapperrr {
	padding:80px 0px 60px 0px;
	/*position:fixed;*/
	top:0;
	width:100%;
	height:100%;
	background-color: #ffffff;
	overflow: none;
}
.wrapperrrSlider {
	padding:15px 0px 0px 0px;
	top:0;
	width:100%;
	width:100vw;
	height:100%;
	background-color: #ffffff;
	overflow: none;
}
#theImagesCarousel {
	margin:0;
	padding:0;
}
#contenttt {
	width:100%;
	height:100%;
	background-color: #ffffff;
	position: relative;
}
.contenttt {
	width:100%;
	height:100%;
	background-color: #ffffff;
	position: relative;
	border: none;
}
.contentttSlider {
	width:100%;
	height:100%;
	background-color: #ffffff;
	border: none;
}
.footer {
	width:100%;
	margin-bottom:0px;
	height:60px;
	font-size: 1em;
	position: fixed;
	bottom:0;
	background-color:#ffffff;
	text-align: center;
}
.footerSlider {
	width:100%;
	margin:0;
	height:60px;
	font-size: 1em;
	position: absolute;
	bottom:0;
	background-color:#ffffff;
	text-align: center;
	border: none;
	z-index: 100;
}
.imager {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	top: 20px;
	margin-left:auto;
	margin-right:auto;
}
.imagerSlider {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	border: none;
}
.imagerSliderAlan {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	text-align: center;
	height: 100%;
	padding: 25px 10px 60px 10px;
}
.imageSliderInterior {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
.rightImageDiv {
	width:50%;
	height:100%;
	right:0;
	position: absolute;
	z-index: 100;
}
.rightArrowDiv {
	position:absolute;
	right:15px;
	top: 47%;
	display: none;
	z-index: 99;
	margin-top: -25px;
}
.rightImageDiv:hover .rightArrowDiv {
	display: inline;
}
.rightImageDiv:active .rightArrowDiv {
	opacity: 0.0;
}

.leftImageDiv {
	width:50%;
	height:100%;
	left:0;
	position: absolute;
	z-index: 100;
	margin-top: -25px;
}
.leftArrowDiv {
	position:absolute;
	left:15px;
	top: 47%;
	display: none;
	z-index: 99;
}
.leftImageDiv:hover .leftArrowDiv {
	display: inline;
}
.leftImageDiv:active .leftArrowDiv {
	opacity: 0.0;
}
#bigImageOverlayNext {display: none}
#bigImageOverlayPrev {display: none}
#infscr-loading {display:none !important; opacity: 0.0 !important}

.bigImageOverlay {display: none}

.site-footer, .page-wrap:after {
  height: 52px;
}
.homefooter {
  margin-top: 52px;
  height: 52px;
  background-color: #ffffff;
  width:100%;
}
@media screen and (max-width: 2050px) {
	.grid-sizer, .grid-item { width: 20%;width: calc(100% / 5); padding:0; margin: 0;
    }

}
@media screen and (max-width: 1800px) {
	.grid-sizer, .grid-item { width: 25%;width: calc(100% / 4); padding:0; margin: 0; }
}
@media screen and (max-width: 1500px) {
	.grid-sizer, .grid-item { width: 25%;width: calc(100% / 4); padding:0; margin: 0; }
}
@media screen and (max-width: 1250px) {
	.grid-sizer, .grid-item { width: 33%; width: calc(100% / 3);padding:0; margin: 0;}
}
@media screen and (max-width: 768px) {
	.imageContainer {
		 top: 50px;
	}
	.grid-sizer, .grid-item { width: 33%; width: calc(100% / 3); padding:0;  margin: 0;}
}
/* ipad  portrait */
@media screen and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : portrait) {
	.grid-sizer, .grid-item { width: 33%; width: calc(100% / 3);padding:0; margin: 0;}
	.imageContainer { top: 50px;}
}
/* ipad  landscape */
@media screen and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : landscape) {
	.grid-sizer, .grid-item { width: 25%;width: calc(100% / 4); padding:0; margin: 0}
	.imageContainer { top: 50px;}
}
/* iphone 6 portrait */
@media screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
	.grid-sizer, .grid-item { width: 33%;width: calc(100% / 3);}
	.imageContainer { top: 52px; margin-bottom: 52px;}

}
/* iphone 6 landscape */
@media screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
	.grid-sizer, .grid-item { width: 25%;width: calc(100% / 4); padding:0; margin:  0;}
	.imageContainer { top: 49px;}
	#homefooter, .homefooter {
		Xdisplay: none;
	}
}
@media screen and (max-width: 361px) {
	.grid-sizer, .grid-item { width: 50%; width: calc(100% / 2);padding:0; margin: 0}
	.imageContainer { top: 44px;}
}
@media screen and (max-width: 480px) and (orientation : landscape) {
	.grid-sizer, .grid-item { width: 25%;width: calc(100% / 4); padding:0; margin: 0}
	.imageContainer {  top: 44px;}
}
-->
.grid-sizer {
	display:none;
}
.grid {
	margin-bottom:52px;
}
.grid-sizer, .grid-item {
	box-sizing: border-box;
	border: solid 4px #ffffff;
	margin: 0;
	background-color: #000;
}
</style>
	<style type="text/css" rel="stylesheet">

<!--
.chromestyle {
	font-weight: normal;
	font-family: Viga;
	font-size: 14px;
	height: 63px;
	line-height: 63px;
	font-weight: normal;
	width: 100%;
}
.chromestyle ul {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: right; /*set value to "left", "center", or "right"*/
	z-index: 999999;
}
.chromestyle ul li{
	font-weight: normal;
	font-family: Viga;
	font-size: 14px;
	display: inline-block;
	z-index: 999999;
	padding: 0 5px 0 5px;
	height: 63px;
}
.chromestyle ul li a {
	color: #999999;
	margin: 0;
	text-decoration: none;
	z-index: 999999;
	height:auto;
	line-height: 63px;
	display: inline-block;
}
.chromestyle ul li a:hover {
	color: #777777;
	background:transparent;
}
/* ######### Style for Drop Down Menu ######### */

.dropmenudiv {
	position:absolute;
	top: 0;
	margin: 0;
	border-bottom-width: 0;
	font-weight: normal;
	font-family: Viga;
	font-size: 14px;
	z-index:999999;
	width: auto;
	max-width: 450px;
	visibility: hidden;
	color: #666666;
	z-index: 999999;
	box-shadow: 0 4px 5px rgba(136, 136, 136, 0.3);
	border-bottom-right-radius:  4px;
	border-bottom-left-radius:  4px;
}

.dropmenudiv a {
	width: auto;
	display: block;
	border-bottom: 0 solid #dddddd; /*THEME CHANGE HERE*/
	padding: 8px 14px 10px 14px;
	text-decoration: none;
	font-weight: normal;
	color: #999999;
	background: #ffffff;
	text-align: left; /*set value to "left", "center", or "right"*/
	z-index: 999999;
}
* html .dropmenudiv a { /*IE only hack*/
	width: 100%;
}
.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
	text-decoration: none;
	color: rgba(119, 119, 119, 1.0);
	background: #ffffff;
	z-index: 999999;
}
-->
</style>

<script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/pace/pace.js"></script>

<script language="JavaScript">
sliderOpen = true;
Pace.options = {
  restartOnRequestAfter: false,
  ajax: false,
  estartOnPushState: false
};
</script>

</head>
<body class="pace-done" style="background-color: #ffffff; background-image: none;">
    <nav class="navbar navbar-inverse" style="position: fixed; width: 100%; z-index: 9999">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" style="color: white;">JopShopper</a>
	    </div>
	    <ul class="nav navbar-nav">
	    <li><a href="/list?user=<%=user%>">Home</a></li>
	    <li><a href="/index">JOB FINDING</a></li>
	    <li class="active"><a href="/list?user=<%=user%>">JOB CONTENT</a></li>
	    <li><a href="/analysis?user=<%=user%>">ANALYSIS</a></li>
	    </ul>
	    <!--ul class="nav navbar-nav navbar-right">
	      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	      <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul-->
	  </div>
	</nav>

	<div style="text-align: center; padding-top: 0px; width:auto; margin:auto">
		<div class="imageContainer" style="margin:0 auto;padding-top:10vh;width:85%;">
			<div class="grid packery js-packery" id="makeItMason" data-packery-options="{&quot;itemSelector&quot;: &quot;.grid-item&quot; }" style="display: block; position: relative; height: 1231.83px;">


    			<div class="grid-sizer" id="sizer"></div>
                <%for(var i=0;i<listnum;i++){%>
                <div class="grid-item"><a href="/content?jobnum=<%=jobnum[i]%>&user=<%=user%>" class="magnifyCursor"><img border="0" src ="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/content/<%=jobName[jobnum[i]]%>/슬라이드1.PNG" style="background:white;"></a></div>
                <%}%>
            </div>
    	</div>
    </div>

    <script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/js/imagesloaded.pkgd.min.js"></script>
    <link href="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/css/clips.css" rel="stylesheet" />
    <style>
    .encloser  {
        text-align: left;
        margin: 0 auto;
        display: inline-block;
        max-width:1100px;
        vertical-align: top;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 1.0rem;
        box-sizing: border-box;
    }
    .encloser th  {
        text-align: left;
    }
    .encloser td {
        text-align: left;
        padding: 10px;
    }
    .encloser td:first-of-type{
    	padding-left: 0;
    }
    .encloser td:last-of-type{
    	padding-right: 0;
    }
    .encloser figcaption {
    	margin: -1px 0 1px 0;
    	font-size: 0.9rem;
    	opacity: 0.8;
    	font-style: italic;
    	text-align: left; }
    }
    .encloser article {
    	padding-bottom: 0;
    	margin: 15px inherit;
    	border-bottom: 1px solid rgba(136, 136, 136, .33);
    }
    .encloser article:last-of-type {

    	border-bottom: none;
    }

    .encloser img {
    	zwidth:100%;
    	width:auto;
    	max-width: 100%;
    	height: auto;
    	Xdisplay: block;
    	Vmargin: 0 auto;
    	visibility:hidden;
    }

    .encloser .imgAuto img {
    	width: auto !important;
    	height: auto;
    	display: inline-block !important;
    }

    .encloser p {
    	text-align: left;
    }
    .encloser figure {
    	padding: 0;
    	margin: 0 0 10px 0;
    	margin: 0 auto;
    	display: block;
    	text-align: left;
    }
    .encloser figure.text-right{
    	text-align: right;
    }
    .encloser figure.text-left{
    	text-align: left;
    }
    .encloser figure.text-center{
    	text-align: center;
    }

    @-moz-document url-prefix() {
     .encloser img {
        width: 100%;
      }
    }
    .alignLeft, .text-left {
    	text-align: left;
    }
    .alignCenter, .text-center {
    	text-align: center;
    }
    .alignRight, .text-right {
    	text-align: right;
    }


    	.blogtitlehead-sans-serif {
    		 font-family: Open Sans, sans-serif;
    		 font-size: 1.1rem;
    		 font-weight: 600;
    		 text-transform: uppercase;


    	}
    	.blogtitlehead-sans-serif-date {
    		 font-family: Open Sans, sans-serif;
    		 font-size: 0.8rem;
    		 font-weight: 400;
    		 letter-spacing: 0.03rem;
    		 opacity: 0.7;
    		 margin-left:3px;

    	}
    	.blogtitlehead-serif  {
    		 font-family: Quattrocento, serif;
    		 font-size: 1.0rem;
    		 font-weight: 600;
    	}
    	.blogtitlehead-serif-date  {
    		 font-family: Quattrocento, serif;
    		 font-size: 0.8rem;
    		 font-weight: 400;
    		 opacity: 0.7;
    		 margin-top:3px;
    	}
    	.blogtitlehead-script  {
    		 font-family: 'Petit Formal Script', cursive;
    			font-size: 1.2rem;
    		 font-weight: 400;
    	}
    	.blogtitlehead-script-date  {
    		 font-family: Quattrocento, serif;
    		 font-size: 0.8rem;
    		 font-weight: 400;
    		 opacity: 0.7;
    		 margin-top:1px;
    	}


    	#encloser div:nth-of-type(1) {
    		width:100%;
    	}

     	article .video-container {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        margin-bottom: 20px; }
      article .video-container iframe, article .video-container object, article .video-container embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
      }
     article > div:not(.postContent) > a:link, article > div > a:visited {
     	color: #888888;
    	text-decoration: none;
    }
     .encloser > div:not(.postContent) > h1 > a:link, .encloser > div > h1 > a:visited {
     	color: #888888;
    	text-decoration: none;
    }
    .encloser h1 {
    	font-size: 1.2rem;
    	font-weight: 600;
    }
    .encloser h2 {
    	font-size: 1.1rem;
    }
    .encloser h3 {
    	font-size: 1.0rem;
    }
    .encloser h4 {
    	font-size: .9rem;
    }
    .encloser h5 {
    	font-size: .8rem;
    }
    .encloser h6 {
    	font-size: .7rem;
    }



    	.encloser article div:nth-of-type(1) {
    		font-size: 1.1rem;
    		font-weight: 600;
    	}
    	.encloser article div.postDate {
    		font-size: .8rem;
    		font-weight: 400;
    		margin-bottom: 0.7rem;
    	}
    	.spaceHeight {
    		height: 15px;
    	}





    	@media screen and (max-width: 640px) {
    				.encloser  {
    					Xdisplay: block;
    					width: 95%;
    					padding-right: 1px;
    				}
    				.rightArchive  {
    					text-align: left;
    					width: 100%;
    					margin: 0 auto;
    					display: block;
    					vertical-align: top;
    					font-size: 0.8rem;
    					padding-top: 20px;
    					border-left:  1px solid rgba(136, 136, 136, 0.0);
    				}




    	}
    	@media only screen and (max-width:480px) {
    				/* Force table to not be like tables anymore */
    				.encloser table, .encloser thead, .encloser tbody, .encloser th, .encloser td, .encloser tr {
    					display: block;
    				}

    				/* Hide table headers (but not display: none;, for accessibility) */
    				.encloser thead tr {
    					position: absolute;
    					top: -9999px;
    					left: -9999px;
    				}


    				.encloser td {
    					/* Behave  like a "row" */
    					border: none;
    					position: relative;
    					margin: 0 auto;
    					width: 100% !important;

    				}
    				.encloser td:first-of-type{
    					padding-left: 0;
    					padding-right: 0;
    				}
    				.encloser td:last-of-type{
    					padding-left: 0;
    					padding-right: 0;
    				}
    }



    </style>
    <script>

    $(function() {
    	$('.encloser img').imagesLoaded( function() {
    	    $('.encloser img').each(function(i) {
    			var t = new Image();
    	        t.src = $(this).attr('src');
    	        $(this).attr('style',('max-width: '+ t.width + 'px; width: 100%'));
    	        $(this).css({'visibility':'visible'});
    	    });
    	 });
    });
    </script>



    <!-- [if:($homepagetext)!='']
    	[if:$pageView!='slideshow']
    <div style="width: 90%; margin-left: auto; margin-right: auto; margin-top: 30px; padding-bottom: 90px;" class="hideMeDetail">
    	<div style="text-align: center; clear:both"><div class="text encloser">[encode_smart:($homepagetext)]</div></div>
    </div>
    	[else]
    <noscript>
    	<div style="width: 90%; margin-left: auto; margin-right: auto; margin-top: 30px; padding-bottom: 90px;">
    		<div style="text-align: center;"><div class="text encloser">[encode_smart:($homepagetext)]</div></div>
    	</div>
    </noscript>
    	[/if]
    [/if] -->

    <!-- <script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/js/js.js"></script> -->

     <script>

     $( window ).load(function() {
    	 	var theDiv = document.getElementById('sizer');
    		theDiv.innerHTML += '<div class="grid-item"><img border="0" src ="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/CEO-PT.jpg"></div>'
        });

    var packsize = 6;
    $('#makeItMason').hide();
    is_touch_device = 'ontouchstart' in document.documentElement;
    if(is_touch_device){
    	$('.grid-itemOverlayHomeText').css({'display':'none'});
    }


    function loadfolder(){
    	var dir = "./img/";
    	var fileextension = [".png", ".jpg"];

    	$.ajax({
    	    //This will retrieve the contents of the folder if the folder is configured as 'browsable'
    	    url: dir,
    	    success: function (data) {
    	        //List all .png file names in the page
    	        $(data).find("a:contains(" + (fileextension[0]) + "), a:contains(" + (fileextension[1]) + ")").each(function () {
    	            var filename = this.href.replace(window.location.host, "").replace("http://", "");
    	            $("grid-sizer").append('<div class="grid-item">' + '<img src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/' + dir + filename + '"></div>');
    	        });
    	    }
    	});
    }

    function getItem() {
      var item = '<div class="grid-item">'+
        '<img src="http://lorempixel.com/' +
          width + '/' + height + '/nature" /></div>';
      return item;
    }

    function getItems() {
      var items = '';
      for ( var i=0; i < 12; i++ ) {
        items += getItem();
      }
      // return jQuery object
      return $( items );
    }

    jQuery(document).ready(function() {
    	container = document.querySelector('#makeItMason');
    			$('#makeItMason').imagesLoaded( function() {
    			 pckry = new Packery( container, {
    					debug: false,
    					itemSelector: '.grid-item',
    					percentPosition: true,
    					layoutMode: 'packery',
    					transitionDuration: '1.1s',
    					preFill: false
    				});
    			 $('#makeItMason').show();
    			 pckry.layout();
    		 });

    	loadfolder();
     	});

    $('#makeItMason').infinitescroll({
    	navSelector  	: "#next:last",
    	nextSelector 	: "a#next:last",
    	itemSelector 	: "div.grid-item",
    	dataType	 	: 'html',
    	maxPage         : 500,
    	prefill			: false,
    	bufferPx		: 20,
    	//loading  : {img:"/site26/art/loader.gif"},
    		path: function(index) {
    			return ("/ajax/morePacks-26.html?w=" + $( window ).width() + '&pack=' + index + '&packsize=' + packsize);
    		}
        },   function( newElements ) {
        			//$('#loader').show(50);
        			// $container.isotope( 'appended', newElements );
        			$( newElements ).css({'opacity':'0.0'});
    				$( newElements ).imagesLoaded( function() {
    					pckry.appended( newElements );
    					$( newElements ).css({'opacity':'1.0'});
    					//$('#loader').hide(50);
    				    if(is_touch_device){
    				    	 $('.grid-itemOverlayHomeText').css({'display':'none'});
    				    }
    				});

    				// enableScroll();
    				// pckry.layout();
    		}
      );


    $(document).ready(function(){
    // this part disables the right click

    $('img').on('contextmenu', function(e) {
    return false;
    });
    //this part disables dragging of image
    $('img').on('dragstart', function(e) {
    return false;
    });

    });

    function disableScroll() {
    	$('html').css({'overflow':'hidden'});
    	$('html').on({
    	    'mousewheel': function(e) {
    	        if (e.target.id == 'el') return;
    	        e.preventDefault();
    	        e.stopPropagation();
    	    }
    	})
     }

    function enableScroll() {

    	$('html').unbind("mousewheel");
    	$('html').css({'overflow':'auto'});
    }
    function openImageDetailX(theDetailURL){
    	scrollPosition = $('body').scrollTop();
    	//$( '.bigImageOverlay').hide();
    	$( '#bigImageOverlay').load( theDetailURL, function() {
    		$('#homefooter').hide();
    		$('#makeItMason').hide();
    		$('.bigImageOverlay').show(250);
    	});
    	//$('#makeItMason').hide();
    	return false;
    }

    function openImageDetail(theDetailURL){
    		scrollPosition = $('body').scrollTop();
    		disableScroll();
    //		alert(scrollPosition);
    		Pace.stop;
    		Pace.restart = function () {};
    		var speed = 100;
    		$('.homefooter').hide(speed);
    		$('.homefooter').promise().done(function(){
    			var thisRequest = $.ajax({
    			  method: "GET",
    			  url: theDetailURL ,
    			  dataType: "html",
    			  async: false
    			}).done(function(data) {
    			  	theNewHTML = data;
    			  	//$('#bigImageOverlayPrev').html( $('.bigImageOverlay').html() );
    			  	//$('#bigImageOverlayNext').html(  theNewHTML );
    			  	$('#makeItMason').hide(speed);
    			  	$('.homefooter').hide(speed);
    			  	$('.hideMeDetail').hide(speed);
    			  	$('.bigImageOverlay').hide();
    			  	// $('.bigImageOverlay').hide(speed);
    			  	$('#bigImageOverlay').html(theNewHTML);
    			  	$('#bigImageOverlay').promise().done(function(){
    				  	$('.bigImageOverlay').imagesLoaded( function() {
    					  $('.bigImageOverlay').show(speed);
    				  	});

    				});

    	  		});
    		});
    		return false;
    }

    $('body').keypress(function(e){

        if(e.which == 27){
           showIsotope();

        }
    });
    function showIsotopeX() {
    	$('.bigImageOverlay').hide();
    	$('#makeItMason').show();
    	$('#homefooter').show();
    	if (typeof(scrollPosition)!=undefined){
    		$('body').scrollTop(scrollPosition);
    	}
    	return false;

    }

    function showIsotope() {
    		enableScroll();
    		$('.bigImageOverlay').hide();
    		$('#makeItMason').show();
    		$('.homefooter').show();
    		pckry.layout();
    		if (typeof(scrollPosition)!=undefined){
    //			alert(scrollPosition);
    			$('body').scrollTop(scrollPosition);
    		}
    		return false;

    }





    </script>

    <script language="JavaScript">
    <!--//

    //-->
    </script>

</body>
</html>
